.me{
    div{
        margin: 0 auto;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        width: 10rem;
        height: 10rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    h1{
        font-size: 22px;
    }
}