.work-experience {
  height: auto;
  width: 100%;
	display: block;
	background: $black;
	color: white;
  text-align: center;
  @include desktop {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		height: 100vh;
		width: 100%;	
	}
}